.App {
  text-align: center;
}

.ar-container {
  margin: 20px auto;
  position: relative;
  height: 300px;
  width: 600px;
  overflow: hidden;
}

.title {
  text-transform: uppercase;
  font-size: 18pt;
}


.ar-button {
  padding: 30px;
  font-size: 16pt;
  color: white;
}

.ar-button--start {
  background-color: black;
}

.ar-button--stop {
  background-color: #500;
}